.main {
   @include flex;
   width: 100%;
   min-height: 100vh;
   flex-direction: column;
   overflow: hidden;
   color: #fff;
   background-color: $secondary-color;

   &__about-me,
   &__technologies,
   &__projects {
      position: relative;
      display: grid;
      opacity: 0;
      height: 0;
      transform: translateY(6rem);

      h2 {
         font-size: 2rem;
         text-align: center;
         margin: 14rem 0 5rem;
      }
   }

   &__about-me {
      width: 100%;
      grid-auto-flow: column;
      grid-template-columns: 1fr minmax(auto, 300px) minmax(auto, 300px) minmax(auto, 300px) 1fr;
      grid-template-rows: 320px 1fr 6rem;

      h2 {
         grid-row: 1;
         grid-column: 2 / span 3;
      }

      p {
         grid-row: 2;
         grid-column: 2 / span 3;
         margin: 0 0.5rem;
         letter-spacing: 1.4px;
         @include media-query(large) {
            grid-column: 2 / span 3;
         }
      }

      .main__polygon {
         position: relative;
         grid-row: 3;
         grid-column: 2 / span 3;
         top: -18rem;
         right: 14rem;
         height: 11rem;
         width: 11rem;
         opacity: 0.6;
         z-index: -1;
         transform: rotate(30deg);
      }

      .main__polygon--smaller {
         opacity: 0.3;
         height: 9rem;
         width: 9rem;
         top: -20rem;
         right: 27rem;
      }

      .main__polygon--bigger {
         opacity: 0.9;
         height: 14rem;
         width: 14rem;
         top: -8rem;
         right: 24rem;
      }
   }

   &__technologies {
      display: flex;
      flex-direction: column;

      h2 {
         margin-bottom: 2rem;
      }

      .main__technology-subtitle {
         margin: 1rem;
         padding: 0.7rem;
         max-width: 1100px;
         margin-bottom: 2rem;
         align-self: center;
         line-height: 1.5;
         letter-spacing: 1.4px;
         border: 1px solid $shine-color;
      }

      .main__technology-description {
         margin: 1rem;
         padding: 0.7rem;
         margin-top: 2rem;
         max-width: 1100px;
         border: 1px solid $shine-color;
         letter-spacing: 1.4px;
         font-size: 1rem;
      }

      .main__title--tools,
      .main__title--method {
         margin: 5rem 0 3rem;
      }

      .main__tech,
      .main__tools,
      .main__method {
         display: flex;
         justify-content: center;
         flex-wrap: wrap;
      }

      .main__open {
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         align-items: center;

         img {
            width: 4rem;
            height: 4rem;
            margin: 1rem;
         }

         i {
            font-size: 4rem;
            margin: 1rem;
         }

         .main__techText {
            margin: 0 0.5rem;
         }
      }
   }

   &__projects {
      max-width: 1000px;
      grid-auto-flow: row;
      grid-template-rows: 1fr;

      @include media-query(small) {
         grid-template-columns: 1fr 1fr;

         h2 {
            grid-column: 1 / span 2;
         }
      }

      section {
         @include flex;

         .main__wrapper {
            display: flex;
            flex-direction: column;
            width: 15rem;
            margin: 1rem;
            position: relative;
            overflow: hidden;
            border: 1px solid $shine-color;
            border-radius: 5px;

            @include media-query(medium) {
               width: 20rem;
            }

            img {
               position: relative;
               width: 100%;
               height: 100%;
               background-color: #fff;
               transform: scale(1.1);
               bottom: 0rem;
               transition: bottom 0.3s ease-in-out;
            }

            span {
               text-align: center;
               background-color: $secondary-color;
               z-index: 30;

               h3 {
                  color: #fff;
                  margin: 0.8rem;
               }
            }

            .main__links {
               position: absolute;
               @include flex($justify-content: space-evenly);
               width: 100%;
               height: 5rem;
               bottom: 0;
               left: 0;
               background-color: $shine-color;

               @include media-query(large) {
                  height: 0;
                  overflow: hidden;
                  transition: height 0.5s;
               }

               a {
                  text-decoration: none;
                  color: #fff;
                  padding: 0.8rem;
               }

               a:hover {
                  color: $darkshine-color;
                  text-shadow: 0px 0px 4px $darkshine-color;
               }
            }
         }

         .main__wrapper:hover .main__links {
            height: 5rem;
         }

         @include media-query(large) {
            .main__wrapper:hover img {
               position: relative;
               bottom: 0.5rem;
            }
         }
      }

      .main__description {
         width: 15rem;
         margin: 1rem;
         p {
            letter-spacing: 1.4px;
         }
         @include media-query(small) {
            width: 20rem;
         }
         @include media-query(medium) {
            width: 25rem;
         }
      }

      .main__fade-left {
         transform: translateX(-10%);
      }

      .main__fade-right {
         opacity: 0;
      }

      .main__fade-left,
      .main__fade-right {
         transition: transform 400ms ease-in, opacity 400ms ease-in;
         &.fade-in {
            transform: translateX(0);
            opacity: 1;
         }
      }
   }
}

.visible {
   height: auto;
   min-height: 100vh;
   animation-name: show;
   animation-duration: 1s;
   animation-fill-mode: forwards;
}

@keyframes show {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}
